<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Orders</title>
</head>
<body>
<h1>Orders</h1>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Number</th>
            <th>Type</th>
            <th>Price</th>
            <th>Size</th>
        </tr>
        <tr th:each="order : ${orders}">
            <td th:utext="${order.orderId}"></td>
            <td th:utext="${order.msgId}"></td>
            <td th:utext="${order.type}"></td>
            <td th:utext="${order.price}"></td>
            <td th:utext="${order.size}">...</td>

        </tr>
    </table>
</div>
</body>
</html>