<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Orders</title>
</head>
<body>
<h1>Orders</h1>
<br/><br/>
<div>
    <table border="1">
       <!-- <tr>
            <th>ID</th>
            <th>Number</th>
            <th>Type</th>
            <th>Price</th>
            <th>Size</th>
        </tr>-->
        <tr th:each="message : ${messages}">
        <td th:utext="${message.id}"></td>
        <td th:utext="${message.receiveTime}"></td>


        </tr>
    </table>
</div>
</body>
</html>