<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Orders</title>
</head>
<body>
<h1>Orders</h1>
<br/><br/>
<div>
    <table>
        <tr th:each="element : ${ordersMap}">
            <td th:text="${element.key}">keyvalue</td>
            <table>
                <tr th:each="order : ${element.value}">
                    <td th:utext="${order.orderId}"></td>
                    <td th:utext="${order.msgId}"></td>
                    <td th:utext="${order.type}"></td>
                    <td th:utext="${order.price}"></td>
                    <td th:utext="${order.size}">...</td>
                </tr>
            </table>
        </tr>
    </table>
</div>
</body>
</html>